<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <title>学习</title>
        <link href="/static/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
        <link href="/static/css/core.css"  rel="stylesheet" type="text/css" />
        <!-- <link href="/css/components.css"  rel="stylesheet" type="text/css" /> -->
        <link href="/static/css/icons.css"  rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css"  rel="stylesheet" type="text/css" />
        <!--<script src="/static/js/showdown.min.js" ></script>-->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
          <div class="topbar">
              <!-- LOGO -->
              <div class="topbar-left">
                  <div class="text-center">
                      <a href="/"  class="logo"><i>E</i><span>ureka</span></a>
                  </div>

              </div>

              <div class="navbar navbar-default" role="navigation">
                <div class="pull-left">
                      <button class="button-menu-mobile open-left">
                          <i class="ion-navicon"></i>
                      </button>
                      <span class="clearfix"></span>
                  </div>
                  <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="hidden-xs">
                        <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen">全屏</i></a>
                    </li>
                      <li >
                        <a href="/" >课程中心</a>
                      </li>
                  </ul>
              <!--/.nav-collapse -->
              </div>
          </div>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                          <h4 class="c333 titleft">金融科技</h4>
                          <p class="c666 p-l-r-20">
        金融科技(Fintech)通常被界定为金融和科技的融合，就是把科技应用到金融领域，通过技术工具的变革推动金融体系的创新
                          </p>
                             {% for course in courses %}
                            <li class="has_sub">
                                <a href="/course/{{ course.courseId }}?uid={{ course.uid }}" class="waves-effect"><span>{{ course.course }}</span> </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
							<div class="middle_cont">
								<div class="cont-wp">
                  <div class="c333 titmidd">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">开始运行 <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            {% for env in course.env %}
                            <li><a href={{ env.envlink }}>{{ env.envname }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
                  	<div id="showdown" class="cont-box">
                            <!--{{ course.content }}-->
                    </div>
								</div>
							</div>
  <!-- middle_cont end -->

							<div class="right_cont">
                  <div class="cont-wp">
                      <iframe width="100%" height="100%" src="http://localhost:8888/notebooks"></iframe>
                  <!--<div class=" titright">-->
                    <!--<ul class="nav nav-tabs">-->
                        <!--<li class="">-->
                            <!--<a href="#home" data-toggle="tab" aria-expanded="false">-->
                                <!--<span class="visible-xs"><i class="fa fa-home"></i></span>-->
                                <!--<span class="hidden-xs">Home</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="active">-->
                            <!--<a href="#profile" data-toggle="tab" aria-expanded="true">-->
                                <!--<span class="visible-xs"><i class="fa fa-user"></i></span>-->
                                <!--<span class="hidden-xs">Profile</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href="#messages" data-toggle="tab" aria-expanded="false">-->
                                <!--<span class="visible-xs"><i class="fa fa-envelope-o"></i></span>-->
                                <!--<span class="hidden-xs">Messages</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href="#settings" data-toggle="tab" aria-expanded="false">-->
                                <!--<span class="visible-xs"><i class="fa fa-cog"></i></span>-->
                                <!--<span class="hidden-xs">Settings</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                  <!--titright  -->
                  	<!--<div class="cont-box tab-content">-->
                      <!--<div class="tab-pane" id="home">-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
                          <!--<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
                      <!--</div>-->
                      <!--<div class="tab-pane active" id="profile">-->
                          <!--<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
                      <!--</div>-->
                      <!--<div class="tab-pane" id="messages">-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
                          <!--<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
                      <!--</div>-->
                      <!--<div class="tab-pane" id="settings">-->
                          <!--<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
                      <!--</div>-->
                    <!--</div>-->
                </div>
							</div>
              <!-- right_cont end -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];

            var text = "{{ course.content }}";
            <!--var converter = new showdown.Converter();-->
            <!--var html = converter.makeHtml(text);-->
            var html = marked(text);
            document.getElementById('showdown').innerHTML = html;
        </script>
        <!-- jQuery  -->
        <script src="/static/js/jquery.min.js" ></script>
        <script src="/static/js/bootstrap.min.js" ></script>
        <script src="/static/js/jquery.core.js" ></script>
        <script src="/static/js/jquery.app.js" ></script><!-- 全屏 -->
        <script src="/static/js/detect.js" ></script>
        <script src="/static/js/fastclick.js" ></script>
        <script src="/static/js/jquery.slimscroll.js" ></script>
        <!--<script src="/static/js/strapdown.js" ></script>-->
        <!--<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>-->
    </body>
</html>
