<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <title>学习</title>
        <link href="/static/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
        <link href="/static/css/loaders.min.css"  rel="stylesheet" type="text/css" />
        <link href="/static/css/core.css"  rel="stylesheet" type="text/css" />
        <!-- <link href="/css/components.css"  rel="stylesheet" type="text/css" /> -->
        <link href="/static/css/icons.css"  rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css"  rel="stylesheet" type="text/css" />
        <!--<script src="/static/js/showdown.min.js" ></script>-->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
          <div class="topbar">
              <!-- LOGO -->
              <div class="topbar-left">
                  <div class="text-center">
                      <a href="/"  class="logo"><i>E</i><span>ureka</span></a>
                  </div>

              </div>

              <div class="navbar navbar-default" role="navigation">
                <div class="pull-left">
                      <button class="button-menu-mobile open-left">
                          <i class="ion-navicon"></i>
                      </button>
                      <span class="clearfix"></span>
                  </div>
                  <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="hidden-xs">
                        <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen">全屏</i></a>
                    </li>
                      <li >
                        <a href="/course" >课程中心</a>
                      </li>
                  </ul>
              <!--/.nav-collapse -->
              </div>
          </div>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                          <h4 class="c333 titleft">金融科技</h4>
                          <p class="c666 p-l-r-20">
        金融科技(Fintech)通常被界定为金融和科技的融合，就是把科技应用到金融领域，通过技术工具的变革推动金融体系的创新
                          </p>
                             {% for course in courses %}
                            <li class="has_sub">
                                <a href="/course/{{ course.courseId }}?uid={{ course.uid }}" class="waves-effect"><span>{{ course.course }}</span> </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
							<div class="middle_cont">
								<div class="cont-wp">
                  <div class="c333 titmidd">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">开始运行 <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            {% for env in course.env %}
                            <li><a href=/course/{{ course.courseId }}?uid={{ course.uid }}&envname={{ env.envname }}>{{ env.envname }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
                  	<div id="showdown" class="cont-box">
                            <!--{{ course.content }}-->
                    </div>
								</div>
							</div>
  <!-- middle_cont end -->

							<div class="right_cont">
                  <div class="cont-wp">
                      <div style="height: 100%;position:relative;" id="jupyter">
                        {% if env.envlink %}
                          <div id="loading">
                            <div class="ball-spin-fade-loader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                         </div>
                        {% endif %}
                      </div>
                </div>
							</div>
              <!-- right_cont end -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];

            var text = "{{ course.content }}";
            <!--var converter = new showdown.Converter();-->
            <!--var html = converter.makeHtml(text);-->
            var html = marked(text);
            document.getElementById('showdown').innerHTML = html;

            setTimeout(function(){
                var loading = document.getElementById('loading');
                var iframe = document.createElement('iframe');
                var jupyter = document.getElementById('jupyter');
                iframe.src = '{{ env.envlink }}';
                iframe.style = 'height: 100%; width: 100%';
                iframe.onload = function () { jupyter.removeChild(loading); };
                jupyter.appendChild(iframe);
            },2000);
        </script>
        <!-- jQuery  -->
        <script src="/static/js/jquery.min.js" ></script>
        <script src="/static/js/bootstrap.min.js" ></script>
        <script src="/static/js/jquery.core.js" ></script>
        <script src="/static/js/jquery.app.js" ></script><!-- 全屏 -->
        <script src="/static/js/detect.js" ></script>
        <script src="/static/js/fastclick.js" ></script>
        <script src="/static/js/jquery.slimscroll.js" ></script>
        <!--<script src="/static/js/strapdown.js" ></script>-->
        <!--<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>-->
    </body>
</html>
